@keyframes slideIn {
    from { transform: translateY(-50px); }
    to { transform: translateY(0); }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(+100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loading {
    100% {
        background-color: #52C386;
        transform: translateY(-5rem);
        scale: (2.0);
    }

}

@keyframes btn-radius {
    from {
        border-radius: 1px;
    };

    to {
        border-radius: 3px;
    };

    to {
        border-radius: 6px;
    };

    to {
        border-radius: 8px;
    };

    to {
        border-radius: 10px;
    };

    to {
        border-radius: 12px;
    };

    to {
        border-radius: 14px;
    };

    to {
        border-radius: 16px;
    };

    to {
        border-radius: 18px;
    };

    to {
        border-radius: 20px;
    };
}

@keyframes neon {
    0%{
        box-shadow: 0 0;
    };

    100%{
        box-shadow: 0 0 20px;
        filter: brightness(150%);
        border-radius: 20px;
    };

}

@keyframes growAndGlow {
    0% {
        transform: scale(1);
        border-width: 1px;
        box-shadow: none;
    }
    100% {
        transform: scale(1.1); 
        border-width: 4px; 
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7); /* Glow effect */
    }
}
