@use 'var';
@use 'animation';

#intro-container {
    width: 70%;
    margin-top: 8%;
    margin-inline: auto;
    text-align: center;
    color: var.$white-text;

    h1{
        font-size: 35px;
    }

    @media only screen and (min-width: 600px){
        h1 {
            font-size: 50px;
        }
    }

    @media only screen and (max-width: 450px){

        #intro-container {
            margin-top: 10%;
        }
        h1 {
            font-size: 25px;
        }

        p {
            font-size: 14px;
        }

        span::before{
            display: none;
        }
    }

    span{
        position: relative;
        z-index: 1;
        color: var.$accent-color;        ;
    }

    span::before{
        content: "";
        right: -8px;
        top:50%;
        position: absolute;
        height: 50px;
        width: 2px;
        background-color: var.$accent-color;
        transform: translateY(-45%); //sätter den i rätt position
        animation: pulsating 0.7s infinite ;
    }

    p{
        max-width: 70ch;
        margin-inline: auto;
        padding: 1em;
    }
}

@media only screen and (max-width: 750px) {

    #intro-container {
        margin-top: 10%;
    
    h1 {
        font-size: 25px;
    }

    p {
        font-size: 14px;
    }
   }
  }


/*Explore page*/
#search-header{
    margin-top: 6%;
    text-align: center;
    font-size: 50px;
}
.container{
    margin-top: 20px;
    width: 90%;
    margin-inline: auto;
}

.search-container{
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1em;
    padding: 10px;
    animation: slideInFromLeft 1.0s forwards;
    margin-inline: auto;
    width: 100%;
    justify-content: center;

    input{
        font-size: 20px;
        outline: none;
        height: 45px;
        width: 100%;
    }

    button {
        padding: 0px !important;
    }
    
}

@media only screen and (min-width:600px) {
    .container {
        width: 60%;
    }
}




#result {
    color: var.$white-text;
    background-color: #02030A;
    width: 100%;
    border-radius: 20px;
    

    img {
        width: 150px;
        max-width: 100%;
    }

    .info {
        display: flex;
        gap: 10px; /* Gap between grid items */
        width: 100%;
        margin-inline: auto;
        justify-content: center;
        padding: 10px;
        background-color: darken(#808080, 43%);
        margin-bottom: 20px;
        border: 1px var.$accent-color solid;
        border-radius: 10px;
        transition: transform 0.9s ease, border-width 0.9s ease, box-shadow 0.9s ease;
    }

    .info:hover {
        transition: border-width 0.3s; /* Smooth transition for border-width change */
        animation: growAndGlow 1.3s forwards; /* Apply the animation */
    }

    .details {
        padding: 10px;
        width: 100%;
    }

    .trailer{
        width: 100%;
        text-align: center;
        margin-inline: auto;
        padding: 10px;
        }

    iframe{
        max-width: 100%;
        text-align: center;
        border-radius: 10px;
        border: 1px white solid;
    }
}

@media only screen and (max-width:1000px) {
    .info {
        display: grid !important;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 20px; 
    }
    
    .details {
        grid-column: span 1 !important; 
    }

    img {
        grid-column: span 1 !important; 
        height: auto;
    }
    
    .trailer {
        grid-column: span 2 !important; 
    }
}


/*About sidan*/

.loading {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02030A;
}

.loading--hidden {
    animation: vanish 2s forwards;
}

.ball{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var.$accent-color;
    animation: loading 0.8s ease-in-out infinite alternate;
}

.ball:nth-child(1) {
    animation-delay: 0.1s;
}

.ball:nth-child(2) {
    animation-delay: 0.2s;
}

.ball:nth-child(3) {
    animation-delay: 0.3s;
}

.ball:nth-child(4) {
    animation-delay: 0.4s;
}

.ball:nth-child(5) {
    animation-delay: 0.5s;
}


body{
    background-color: #02030A;
    color: white;
}


svg:hover{
    cursor: pointer;
}


.light-theme{
    background-color: #F5F5F5;
    color: #02030A;
}

.light-theme header {
    background-color: #F5F5F5; 
}



.light-theme header a { 
    color: var.$accent-color; 
}

.light-theme .open { 
    background-color: white;
}


.about-container {
    margin-left: 5%;
    margin-right: 10px;
    margin-top: 5%;
}

.about-container h1{
    font-size: 80px;
    animation: slideInFromRight 1.0s forwards;
}

.about-container p{
    max-width: 70ch;
    line-height: 1.6em;
    animation: slideInFromLeft 1.5s forwards;
}

.light-theme .logo {
    fill: #02030A; 
}


.icons {
    display: flex;
    justify-content: space-between;
    max-width: 70ch;
    margin-left: 5%;
    margin-top: 5%;
    animation: slideInFromLeft 1.7s forwards;
}

@media only screen and (max-width:400px) {
    .icons {
        width: 40ch;
    }
}

@media only screen and (max-width:300px) {
    .icons {
        width: 30ch !important;
    }
}

