@use 'var';

#intro-container {
    width: 70%;
    margin-top: 8%;
    margin-inline: auto;
    text-align: center;
    color: white;

    h1{
        font-size: 40px;
    }

    @media only screen and (min-width: 600px){
        h1 {
            font-size: 50px;
        }
    }

    span{
        position: relative;
        z-index: 1;
        color: var.$accent-color;        ;
    }

    span::before{
        content: "";
        right: -8px;
        top:50%;
        position: absolute;
        height: 50px;
        width: 2px;
        background-color: var.$accent-color;
        transform: translateY(-45%);
    }

    p{
        max-width: 70ch;
        margin-inline: auto;
        padding: 1em;
    }
}


/*Explore page*/
.container{
    width: 80%;
    background-color: black;
    height: 300px;
    border: 2px solid var.$accent-color;
    border-radius: 24px;
    margin-inline: auto;
    margin-top: 10%;
}

.search-container{
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1.2em;
    padding: 20px;

    input{
        font-size: 20px;
        outline: none;
    }

    /*Sätt in en mixin här*/
    button{
        font-size: 20px;
        outline: none;
        background-color: var.$accent-color;
        border: none;
        color: white;
    }
}

#result {
    color: white;

    img {
        width: 200px;
    }
}