@use 'var';
@use 'animation';

#intro-container {
    width: 70%;
    margin-top: 8%;
    margin-inline: auto;
    text-align: center;
    color: white;

    h1{
        font-size: 35px;
    }

    @media only screen and (min-width: 600px){
        h1 {
            font-size: 50px;
        }
    }

    span{
        position: relative;
        z-index: 1;
        color: var.$accent-color;        ;
    }

    span::before{
        content: "";
        right: -8px;
        top:50%;
        position: absolute;
        height: 50px;
        width: 2px;
        background-color: var.$accent-color;
        transform: translateY(-45%);
    }

    p{
        max-width: 70ch;
        margin-inline: auto;
        padding: 1em;
    }
}


/*Explore page*/
.container{
    margin-top: 10%;
}

.search-container{
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1.2em;
    padding: 20px;
    animation: slideIn 0.5s forwards;
    margin-inline: auto;
    width: 90%;
    justify-content: center;

    input{
        font-size: 20px;
        outline: none;
    }
    
}

@media only screen and (min-width:600px) {
    .container {
        width: 60%;
    }
}



#result {
    color: white;
    width: 100vw;
    background-color: darken(#808080, 43%);
    border-radius: 20px;

    img {
        width: 150px;
    }

    .info {
        display: flex;
        width: 90%;
        margin-inline: auto;
        justify-content: center;
        padding: 10px;
    }

    .details {
        padding: 10px;
        width: 80%;
    }

    .trailer{
        width: 80%;
        text-align: center;
        margin-inline: auto;
        text-align: left;
    }

    iframe{
        max-width: 100%;
        height: auto;
        text-align: center;
    }
}